
.u-overflow-hidden {
  overflow: hidden;
}

.u-resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.u-flex {
  display: flex;

  &--center {
    display: flex;
    justify-content: center;
  }
}

.u-pad-lg {
  padding-top: 10%;
  padding-bottom: 10%;
}

.u-center-text {
  text-align: center;
}
