@use "../abstracts/variables" as v;

.btn {
  align-self: start;
  // display: inline-block;

  &__link {
    line-height: 1;
    display: inline-block;
  }

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: 1.7rem 3rem;
    line-height: 1;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(v.$color-black-light,.2);
  }

  &:hover {
    transform: translateY(-6px) scale(1.1);
    box-shadow: 0 1rem 2rem rgba(v.$color-black-light,.2);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
  }

  &--gold {
    background-image: linear-gradient(to top right, v.$color-secondary-dark, v.$color-secondary-light);
    color: v.$color-primary-dark;
  }

  &--gold-border {
    &,
    &:link,
    &:visited {
      border: 2px solid v.$color-secondary-dark;
      color: v.$color-primary-dark;
    }
  }

  &--white-border {
    background: none;
    border: 1px solid v.$color-white;
    color: v.$color-white;
  }

  &--dark-bg {
    &,
    &:link,
    &:visited {
      box-shadow: 0 0.5rem 1rem rgba(v.$color-grey-medium,.2);
    }

    &:hover {
      box-shadow: 0 1rem 2rem rgba(v.$color-grey-medium,.2);
    }
  }

  &--sm {
    &:hover {
      transform: translateY(-3px) scale(1.04);
    }
  }
}

.text-btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: v.$color-primary-dark;
    border-bottom: 1px solid v.$color-primary-dark;
    padding: 3px;
    transition: all 0.2s;
    justify-self: start;
  }

  &:hover {
    background-color: v.$color-primary-light;
    color: v.$color-white;
    box-shadow: 0 1rem 2rem rgba(v.$color-grey-medium, .15);
    transform: translateY(-2px);
  }

  &--light {
    &,
    &:link,
    &:visited {
      color: v.$color-secondary;
      border-bottom: 1px solid v.$color-secondary;
    }

    &:hover {
      background-color: v.$color-secondary-1;
      color: v.$color-primary-dark;
    }
  }
}
