@use "../abstracts/variables" as v;


@mixin respond($breakpoint) {
    @if $breakpoint == bp-sm{
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == bp-md {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == bp-lg {
        @media only screen and (max-width: 62.5em) { @content };    //1000px
    }
    @if $breakpoint == bp-xl {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == bp-xxl{
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

@mixin padVertSm {
  padding-top: 4%;
  padding-bottom: 4%;
}

@mixin padVertMd {
  padding-top: 8%;
  padding-bottom: 8%;
}

@mixin padVertLg {
  padding-top: 10%;
  padding-bottom: 10%;
}

@mixin center80 {
  width: 80%;
  margin: auto;
}

@mixin stackEm {
  grid-template-columns: 1fr;
  // row-gap: v.$row-gap-xl;
}
