$color-primary: #277BC0;
$color-primary-2: #1a5280;
$color-primary-3: #091d2d;
$color-primary-4: #06131d;
$color-primary-5: #4194d9;
$color-primary-6: #bad8f1;
$color-primary-7: #dbebf8;
$color-primary-8: #ebf4fb;

$color-secondary: #FFCB42;
$color-secondary-1: #FFB200;
$color-secondary-2: #ff9d00;
$color-secondary-3: #fce190;
// $color-secondary-4: #ff9d00;
$color-secondary-5: #fff6df;
$color-secondary-6: #fffcf3;

$color-black: #040403;
$color-black-light: #191815;

$color-grey-dark: #2e2c27;
$color-grey-medium: #59554c;
$color-grey-medium-light: #969ba0;
$color-grey-light: #b1ada4;
$color-grey-lighter: #e7e6e3;

$color-white: #ffffff;


$color-primary-light: $color-primary;
$color-primary-dark: $color-primary-2;
$color-secondary-light: $color-secondary;
$color-secondary-dark: $color-secondary-1;

// $color-primary-light: #006D6D;
// $color-primary-dark: #005151;
// $color-secondary-light: #FCC315;
// $color-secondary-dark: #F7961E;

$filter-grey: linear-gradient(to top, rgba($color-black-light, .85), rgba($color-grey-dark, .85));

// FONTS
$font-primary: 'Gotham', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$default-font-size: 2rem;

$font-dark: $color-grey-medium;
$font-light: $color-white;


// LAYOUT
$col-gap-xl: 8rem;
$col-gap-lg: 6rem;
$col-gap-md: 3rem;
$col-gap-sm: 1.5rem;

$row-gap-xl: 8rem;
$row-gap-lg: 6rem;
$row-gap-md: 4rem;
$row-gap-sm: 1.5rem;

$fullGrid: full-start / full-end;
$centralGrid: center-start / center-end;

// STYLE

$gradient-primary: linear-gradient(to top right, $color-primary-dark, $color-primary-light);
$gradient-gold: linear-gradient(to top right, $color-secondary-dark, $color-secondary-light);
$hero-gradient: linear-gradient(to left top, rgba($color-black-light,0.5), rgba($color-grey-dark,0.5));

$imgShadow: 0 0.5rem 1rem rgba($color-grey-dark,.5);
$shadow-light-w: rgba($color-grey-medium, 0.5) 0px .8rem 2.4rem;
$shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;      // 1200px
$bp-large: 62.5em;      // 1000px
$bp-medium: 50em;       // 800px
$bp-small: 37.5em;      // 600
$bp-xs: 31.25em;        // 500px
