@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  position: absolute;
  width: 100%;

  &__top {
    width: 100%;
    padding: 1.5rem 3.5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    top: 0;

    @include m.respond(bp-sm) {
      padding: 1rem 2.5rem;
    }
  }

  &__branding {
    height: 7rem;

    @include m.respond(bp-md) {
      height: 5rem;
    }

    @include m.respond(bp-sm) {
      height: 4rem;
    }
  }

  &__home-link {
    height: 100%;
  }

  &__logo {
    height: 100%;
  }

  &__container {
    display: grid;
    justify-content: end;
    align-items: center;

    @include m.respond(bp-md) {
      align-items: center;
    }
  }

.sticky {
  position: fixed;
  background-color: rgba(v.$color-grey-dark, .95);
  z-index: 100;
  box-shadow: 0 0.8rem 1.4rem #59554c80;;
}
}
