@use "../abstracts/variables" as v;

.top-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -5;
  background-size: cover;
  background-position: center center;

  &--home {
    // background-image: v.$hero-gradient,url(../assets/images/hero-4.jpg);

  }
}
