@use "../abstracts/variables"as v;
@use "../abstracts/mixins"as m;


.container {
  &--home {
    display: grid;
    grid-template-rows: minmax(max-content, 35vw) repeat(4, min-content);
    background-color: v.$color-white;
  }
  &--full {
    grid-column: v.$fullGrid;
  }
  &--full--padded {
    padding: 3.5rem;

    @include m.respond(bp-md) {
      padding: 2rem;
    }
  }

  &--full--padded-md {
    @include m.respond(bp-sm) {
      padding: 0;
    }
  }
  &--central {
    grid-column: v.$centralGrid;
  }

}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: v.$col-gap-sm;
  row-gap: v.$row-gap-md;

  &--full {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @include m.respond(bp-md) {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }
  }

  &--center-align {
    align-items: center;
  }

  &__fig {
    align-self: start;
  }
}
// END grid

.content {

  &--grid {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: v.$row-gap-sm;
  }

  &--full {
    grid-column: 1 / -1;
  }
  &--span-8 {
    grid-column: span 8;
  }

  &--span-6 {
    grid-column: span 6;
  }

  &--span-4 {
    grid-column: span 4;
  }

  &--span-3 {
    grid-column: span 3;
  }

  &--lg-6 {
    @include m.respond(bp-lg) {
      grid-column: span 6;
    }
  }

  &--md-full {
    @include m.respond(bp-md) {
      grid-column: 1 / -1;
    }
  }

  &--md-6 {
    @include m.respond(bp-md) {
      grid-column: span 6;
    }
  }

  &--sm-full {
    @include m.respond(bp-sm) {
      grid-column: 1 / -1;
    }
  }

  &--center-80 {
    grid-column: 1 / -1;
    max-width: 80rem;
    justify-self: center;
  }

  &--80 {
    width: 80%;
    @include m.respond(bp-md) {
      width: 100%
    }
    @include m.respond(bp-sm) {
      width: 100%;
    }
  }

    &--md-80 {

      @include m.respond(bp-md) {
        grid-template-columns: 1fr;
        width: 80%;
        justify-self: center;
      }

      @include m.respond(bp-sm) {
        width: 100%;
      }
    }

  &--right {
    justify-self: end;

    @include m.respond(bp-md) {
      justify-self: center;
    }
  }

}
// END CONTENT

.top-title {
  background-size: cover;
  background-position: center bottom;

  &__filter {
        background-image: v.$filter-grey;
        padding: 20rem 0 10rem;  }
}
