@use "../abstracts/variables"as v;
@use "../abstracts/mixins"as m;

.footer {
  font-size: 1.4rem;
  background-color: v.$color-grey-dark;
  display: grid;
  padding-top: 4%;
  padding-bottom: 2%;

  @include m.respond(bp-md) {
    min-height: 100vh;
    align-content: center;
  }

  &__container {
    grid-column: center-start / center-end;
    color: v.$color-white;
    grid-template-columns: 1fr 1fr 2fr;

    @include m.respond(bp-md) {
      grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    }
  }

  &__logo-img {
    max-height: 10rem;

    @include m.respond(bp-sm) {
      height: 15vw;
    }
  }

  &__name {
    font-size: 2.5rem;
  }

  &__address {
    & span {
      display: block;
    }
  }

  &__email {

    &,
    &:link,
    &:visited {
      color: v.$color-white;
      font-size: 1.5rem;
      transition: all 0.2s;
      display: inline-block;
    }

    &:hover {
      color: v.$color-grey-light;
      transform: translateY(-2px);
    }
  }

  &__cta {
    grid-template-rows: min-content 1fr;
    justify-items: end;

    @include m.respond(bp-md) {
      grid-column: 1 / -1;
      justify-items: center;
      row-gap: v.$row-gap-md;
    }

    h3 {
      text-align: right;

      @include m.respond(bp-md) {
        text-align: center;
      }
    }
  }

  &__btn {
    // justify-self: end;
    align-self: end;

    @include m.respond(bp-md) {
      justify-self: center;
    }
  }

  &__bottom {
    grid-column: v.$fullGrid;
    margin-top: 5rem;
    justify-self: center;
  }

}
