@use "../abstracts/variables"as v;
@use "../abstracts/mixins"as m;

.contact-us {
  @include m.padVertLg;

  background-size: cover;
  background-position: center;

  &__heading {
    color: v.$color-primary-dark;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.1;
  }

  &__subheading {
    font-weight: 500;
    padding-bottom: 1.5rem;
  }

  & .contact-form__button {
    border: 1px solid v.$color-grey-medium;
    color: v.$color-grey-medium;
  }

}